<%# CSS・・・assets/stylesheets/comics/index.css %>
<%= render "shared/header" %>
 <div class = "main">

   <div class="introduction">
   <p>皆様こんにちは、当サイトはみんなが好きな漫画について熱く語っちゃう掲示板です</p>

   <p>暴言等はお控え下さい、マナーを守って楽しく語りましょう</p>

   <p>
  <%= image_tag('kamisama.png', :size => "32x32") %>
   満足するまでゆっくりしていってね
   <%= image_tag('entertainment_comic.png', :size => "32x32") %>
   </p>
   </div>


   <div class = comics_container>
     <li class='list'>
       <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
         <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <%end%>
      </li>
      <li>    
        <%= link_to '#' do %>
        <%= image_tag "kamisama.png", class: "item-img" %>
         <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
           </div>
         </div>
        </div>
        <% end %>
        </li>
   </div>











 </div>
