<%= render "shared/header" %>
   <%= form_with(model: @comic, local: true) do |f| %>


    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="img-upload">
      <div class="weight-bold-text">
        <p>漫画画像</p>
      </div>
      <div class="click-upload">
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>

        <div class="new-items">
      <div class="weight-bold-text">
        漫画名
      </div>
      <%= f.text_field :title, class:"comics-text", id:"comic-name", placeholder:"漫画名", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          <p>あらすじ</p>
        </div>
        <%= f.text_area :summary, class:"comix-text", id:"comic-info", placeholder:"あらすじ" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

        <div class="toukou-btn-contents">
      <%= f.submit "投稿する" ,class:"toukou-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>