<%= render "shared/header" %>
   <%= form_for @room,:url => {:action => :create} do |f| %>
   <%= f.text_field :name, class:"room-name", id:"room-name", placeholder:"スレッド名", maxlength:"40" %>
        <div class="toukou-btn-contents">
      <%= f.submit "投稿する" ,class:"toukou-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>